<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-qrreader"
  version="0.0.20">

  <name>QrReader</name>
  <description>This is a Cordova Plugin. for QR Read.</description>
  <author>OmoikaneNo8</author>
  <keywords>cordova, qr, split, link</keywords>
  <license>MIT License</license>
  <engines>
    <engine name="cordova-android" version=">5.0.0"/>
  </engines>
  <js-module src="www/qrreader.js" name="qrreader">
    <clobbers target="QrReader"/>
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="qrreader">
        <param name="android-package" value="plugin.qrreader.QrReader"/>
      </feature>
    </config-file>
    <source-file src="src/android/QrReader.java" target-dir="src/plugin/qrreader/"/>
  </platform>

  <platform name="android">
    <source-file src="src/android/QrReader.java" target-dir="src/plugin/qrreader/"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="qrreader">
        <param name="android-package" value="plugin.qrreader.QrReader"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.google.zxing.client.android.CaptureActivity" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" android:exported="false" />
      <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.FLASHLIGHT"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
    </config-file>s
    <dependency id="cordova-plugin-compat" version="^1.0.0"/>
  </platform>
</plugin>
