<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-qrreader"
  version="0.0.2">

  <name>QrReader</name>
  <description>This is a Cordova Plugin. for QR Read.</description>
  <author>OmoikaneNo8</author>
  <keywords>cordova, qr, split, link</keywords>
  <license>MIT License</license>
  <engines>
    <engine name="cordova-android" version=">5.0.0"/>
  </engines>
  <js-module src="www/qrreader.js" name="qrreader">
    <clobbers target="qrreader"/>
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QrReader">
        <param name="android-package" value="plugin.qrreader.QrReader"/>
      </feature>
    </config-file>
    <source-file src="src/android/qrreader.java" target-dir="src/plugin/qrreader/"/>
  </platform>
</plugin>
