<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-qrreader"
  version="0.0.39">

  <name>QrReader</name>
  <description>This is a Cordova Plugin. for QR Read.</description>
  <author>OmoikaneNo8</author>
  <keywords>cordova, qr, split, link</keywords>
  <license>MIT License</license>
  <engines>
    <engine name="cordova-android" version=">5.0.0"/>
  </engines>
  <js-module src="www/qrreader.js" name="QrReader">
    <clobbers target="QrReader"/>
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="qrreader">
        <param name="ios-package" value="CDVQrReader"/>
      </feature>
    </config-file>
    <preference name="CAMERA_USAGE_DESCRIPTION" default=" "/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>
    <resource-file src="src/ios/scannerOverlay.xib"/>
    <resource-file src="src/ios/CDVQrReader.bundle"/>
    <header-file src="src/ios/zxing-all-in-one.h"/>
    <source-file src="src/ios/CDVQrReader.mm" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/zxing-all-in-one.cpp"/>
    <framework src="libiconv.dylib"/>
    <framework src="AVFoundation.framework"/>
    <framework src="AssetsLibrary.framework"/>
    <framework src="CoreVideo.framework"/>
    <framework src="QuartzCore.framework"/>
    <framework src="CoreGraphics.framework"/>
    <framework src="CoreImage.framework"/>
    <framework src="AudioToolbox.framework"/>
  </platform>
  <platform name="android">
    <source-file src="src/android/QrReader.java" target-dir="src/plugin/qrreader/"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="qrreader">
        <param name="android-package" value="plugin.qrreader.QrReader"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.google.zxing.client.android.CaptureActivity" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize"  android:windowSoftInputMode="stateAlwaysHidden" android:exported="false" />
      <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.FLASHLIGHT"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
    </config-file>
    <framework src="src/android/qrreader.gradle" custom="true" type="gradleReference"/>
    <dependency id="cordova-plugin-compat" version="^1.0.0"/>
  </platform>
</plugin>
